.title{
    font-size: 30px;
    background-color: rgb(10, 61, 59);
    opacity: 0.6;
    top: 20px;
    position: absolute;
  
}

.subtitle{
    font-size: 60px;
    position: absolute;
    left: 0%;
}

.background{
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    top: 0;
    text-align: center;
}

.derreklewis{
    height:10%;
    width:10%;
    left: 0%;
    position: absolute;
}

img{
    width:50%;
}